/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:focus, input[type=number]:active{
  border: 1px solid lightblue;
  outline: none;
}

#one,#two,#three,#four,#five{
    width: 60px;
    user-select: none;
    background: #1b1b1b;
    transition: all ease 300ms;
}

.msg,.timeUp{
    font-size: xx-large;
   
}
.matched-info{
    margin: 10px;
    margin-bottom: 15px;
    padding: 10px;
    color: #28a745;
    border-radius: 4px;
    word-break: keep-all;
}
.err{
    animation: disappear 5s ease forwards 1s;
}

@keyframes disappear {
    to{
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes enlarge{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.095);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes greenFlash {
    from{
        background: #1b1b1b;
        transform: scale(1) ;
    }
    to{
        background: green;
        color: white;
        transform: scale(1.125);
    }  
}

/* @media (max-width:768px){
    #dyn-array{
        flex-direction: column !important;
    }
    #one,#two,#three,#four,#five{
        height: auto;
        width: 10vw;
        user-select: none;
        background: #1b1b1b;
        transition: all ease 300ms;
    }
} */