
.close:active, .close:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:focus, input[type=number]:active{
  border: 1px solid lightblue;
  outline: none;
}
#logo,#logo-img{
    transition: all ease 500ms;
}
#logo:hover > #logo-img{
    transform: rotate(360deg);
}
#one,#two,#three,#four,#five{
    width: 60px;
    user-select: none;
    background: #1b1b1b;
    transition: all ease 300ms;
}

.msg{
    font-size: xx-large;
    min-height: 15vh;
}
.matched-info{
    margin: 10px;
    margin-bottom: 15px;
    padding: 10px;
    color: #28a745;
    border-radius: 4px;
    word-break: keep-all;
}
.err{
    animation: disappear 5s ease linear forwards;
}

@keyframes disappear {
    from{
        opacity: 1;
        visibility: visible;
        display: block; 
    }
    to{
        opacity: 0;
        visibility: hidden;
        display: none; 
    }
}

@keyframes enlarge{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.095);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes greenFlash {
    from{
        background: #1b1b1b;
        transform: scale(1) ;
    }
    to{
        background: green;
        color: white;
        transform: scale(1.125);
    }  
}
.earn-span{
    position: absolute;
    transform: translateX(50%);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all ease 300ms;
}
.earn-btn{
    z-index: 2;
    transition: all ease 300ms;
}
.earn-btn:hover + .earn-span{
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}
/* @media (max-width:768px){
    #dyn-array{
        flex-direction: column !important;
    }
    #one,#two,#three,#four,#five{
        height: auto;
        width: 10vw;
        user-select: none;
        background: #1b1b1b;
        transition: all ease 300ms;
    }
} */